.review-items-container{
    margin: 0 auto;
}
.cart-container button{
    border: 0;
    background-color: palevioletred;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}